[submodule "libs/sqlite3"]
	path = libs/sqlite3
	url = https://github.com/ECU-IR/sqlite3.git
        ignore = dirty
[submodule "libs/irsdk"]
	path = extern/irsdk
	url = https://github.com/ECU-IR/irsdk.git
        ignore = dirty
[submodule "libs/libmicrohttpd"]
	path = libs/libmicrohttpd
	url = https://github.com/ECU-IR/libmicrohttpd.git
        ignore = dirty
[submodule "libs/inih"]
	path = libs/inih
	url = https://github.com/ECU-IR/inih.git
        ignore = dirty
[submodule "libs/g3logger"]
	path = extern/g3logger
	url = https://github.com/ECU-IR/g3log.git
        ignore = dirty
[submodule "libs/json"]
	path = extern/json
	url = https://github.com/ECU-IR/json.git
[submodule "tools/build/export-compile-commands"]
	path = tools/build/export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands.git
[submodule "libs/vJoydriver"]
	path = extern/vJoydriver
	url = https://github.com/ECU-IR/vjoy.git
[submodule "extern/gflags"]
	path = extern/gflags
	url = https://github.com/gflags/gflags.git
[submodule "extern/luajit-2.0"]
	path = extern/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
[submodule "extern/libmicrohttpd"]
	path = extern/libmicrohttpd
	url = https://github.com/ECU-IR/libmicrohttpd
[submodule "extern/websocketpp"]
	path = extern/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "extern/openssl"]
	path = extern/openssl
	url = https://github.com/ECU-IR/openssl.git
[submodule "extern/asio"]
	path = extern/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "src/tests/googletest"]
	path = src/tests/googletest
	url = https://github.com/google/googletest.git
